@using malko.Controllers;
@model Model;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Image</title>
</head>
<body>
    
    <h2>Display Image</h2>
    <img src=@Model.first alt="Image Description">
</body>
</html>
