.flex-container {
    background-color: DodgerBlue;
    flex: auto;
    display: flex;
    flex-wrap:wrap;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  