@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>

<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>

<div id="chat">
    <input type="text" id="name" placeholder="Your Name" />
    <input type="text" id="message" placeholder="Message" />
    <input type="button" id="sendButton" value="Send" />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

            connection.on("broadcastMessage", function (name, message) {
                // Show pop-up notification for 5 seconds
                showNotification(name, message);
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            $("#sendButton").click(function () {
                var name = $("#name").val();
                var message = $("#message").val();
                connection.invoke("SendMessage", name, message).catch(function (err) {
                    return console.error(err.toString());
                });
            });

            function showNotification(sender, message) {
                var notification = $("<div class='notification'></div>").text(sender + ": " + message);
                $("body").append(notification);

                // Hide the notification after 5 seconds
                setTimeout(function () {
                    notification.fadeOut("slow", function () {
                        $(this).remove();
                    });
                }, 5000);
            }
        });
    </script>
}

<style>
    .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
</style>