@model TextViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>





<form asp-controller="Home" asp-action="Split" method="post">

     <input asp-For ="@Model.Text" class="mr-2" />
     <span asp-validation-for="@Model.Text" class="small text-danger col-2"></span>
    <button class=" btn btn-primary " type="submit">Click Me!</button>


    <div class="col-2 mt-3">
        <textarea rows="10">@Model.SplitText</textarea>
    </div>
</form>


